
* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.downloadPiazzaText{
  color: #1155AA;
  border: #1155AA;
  border-radius: 10px;
  background-color: rgba(17, 85, 170, 0.1);
  padding: 10px;
  padding-top: 10px;
  text-align: center;
  font-size: small;
  border-style: dashed;
  border-width: 1.5px;
  width: 530px;
  margin-bottom: 8%;
}

.container_main {
  max-width: 500px;
  margin: auto;
}

.container_img {
  position: relative;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 20%;
}

.image_wrapper {
  display: inline-block;
  border-radius: 30px;
  overflow: hidden;
}

.container_img img {
  position: absolute;
  width: 530px;
}

.container_img img:first-child {
  z-index: 1;
  margin-bottom: -20px;
  margin-left: 10%;
}

.container_img img:last-child {
  margin-top: 100px;
  border-radius: 30px;
  width: 450px;
  margin-left: 15%;
  object-fit: cover;
}

input[type=text], select, textarea {
  padding: 12px;
  margin-right: auto !important;
  border: 1px solid #ccc;
  border-radius: 10px;
  resize: vertical;
  width: 530px;
  margin-left: auto !important;
}

.submit-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
  background-color: #e7e9e9;
  color: #030000;
  border: none;
  border-radius: 10px;
  width: 530px;
}

.submit-btn-icon {
  margin-right: 10px;
}

input[type=submit]:hover {
  background-color: #45a049;  
}

.submit-btn {
  position: relative;
  padding-left: 40px; /* adjust the padding as needed */
}


.container_form {
  top: 50%;
  background-color: #ffffff;
  margin-top: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  padding: 20px;
}

.col-25 {
  width: 25% ;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .container_img {
    max-width: 100%;
    padding-bottom: 1%;
  }
  .container_img img {
    width: 100%;
  }
  .container_img img:first-child {
    margin-bottom: -20px;
    margin-left: 20%;
    margin-right: auto;
  }
  .container_img img:last-child {
    margin-top: 100px;
    border-radius: 20px;
    width: 90%;
    margin-left: 5%;
    margin-right: auto;
  }
  .container_form{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .container_form input[type="text"] {
    width: 100%;
    margin-right: 120px !important;
  }
  .col-25, .col-75, .submit-btn {
    width: 100%;
    overflow: hidden;
  }
  .downloadPiazzaText{
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    }
}